/* =======================================
GENERAL
======================================= */
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body, html {
	width: 100%;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	font-family: "Open Sans";
}
/* =======================================
TYPOGRAPHY
======================================= */
h1 {
	font: 48px "Playfair Display";
	font-style: italic;
	margin: 0;
	line-height: 48px;
}
h2 {
	font: "Brandon Grot W01 Bold";
	margin: 0;
}
h2.definition {
	font: 32px "Brandon Grot W01 Bold";
	margin-bottom: 22px;
}
h2.title {
	font: 32px "Brandon Grot W01 Bold";
	color: #1d1d1b;
	margin-bottom: -10px;
}
.ui-label { font: 13px "Brandon Grot W01 Bold"; text-transform: uppercase; }
.ui-label.has-icon i { margin-top: -7px; }
a { color: inherit; }
a:hover { text-decoration: none; }

a:hover,
a:focus {
  color: #9c8e69;
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}
p {
margin: 0 0 30px;
}
h4 {
	font: 22px "BrandonGrotW01-Regular";
}
h4.bold {
		font: 22px "Brandon Grot W01 Bold";
}
h4.color {
	color: #9c8e69;
}
/* =======================================
BASE ELEMENTS
======================================= */
.avatar {
	width: 80px;
	height: 80px;
	border-radius: 40px;
	overflow: hidden;
}
/* =======================================
MAIN FRAMEWORK SETUP
======================================= */
nav#main-nav,
header#main-header,
section#main-content {
	position: absolute;
	top: 0;
	left: 0;
}

nav#main-nav {
	width: 280px;
	height: 100%;
	z-index: 3;
	background-color: #343432;
}

header#main-header {
	height: 60px;
	width: 100%;
	z-index: 2;
	background-color: #868079;
	padding: 10px 10px 10px 290px;
}

section#main-content {
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: #ffffff;
	padding: 60px 0px 0px 280px;
	overflow-y: auto;
}

section#full-screen {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url("../img/images/background.jpg") no-repeat right bottom;
	background-size: cover;
	overflow-y: scroll;
}

/* =======================================
LOGIN PANEL
======================================= */
.panel.panel-login {
	position: absolute;
	width: 500px;
	height: auto;
	left: 50%;
	top: 100px;
	margin-left: -250px;
}
.panel.panel-login .panel-heading {
	padding: 35px;
	padding-top: 26px;
}
.panel.panel-login .panel-body {
	padding: 47px 50px;
}
.panel.panel-login .panel-body label {
	display: block;
	font-size: 14px;
	margin-bottom: 16px;
}
.panel.panel-login .panel-body label a {
	color: #9c8e69;
}
.panel.panel-login .panel-body .form-group {
	background-color: transparent;
	margin-bottom: 30px;
}
.panel.panel-login .logo {
	position: absolute;
	left: -260px;
	width: 210px;
	height: 262px;
	background: url("../img/graphics/logo.png") no-repeat 0 0;
}


/* =======================================
BOOTSTRAP CUSTOMIZATION & EXTENSIONS
======================================= */
/* BUTTONS */
.btn {
	font: 18px "BrandonGrotW01-Regular";
	line-height: 25px;
	padding-left: 17px;
	padding-right: 17px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}
.slightly-bigger-btn {
	font: 22px "BrandonGrotW01-Regular";
	line-height: 25px;
	padding-left: 17px;
	padding-right: 17px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}
.btn.btn-simple {
	background-color: #343432;
	border: 2px solid #343432;
	color: #fff;
}
.btn.btn-inverted {
	border: 2px solid rgba(255,255,255,0.2);
	background: transparent;
	color: #fff;
}
.btn.btn-inverted:hover {
	background-color: #343432;
	border: 2px solid #343432;
	color: #fff;
}
.btn.btn-inverted-onwhite {
	border: 2px solid #e1e0de;
	background: transparent;
	color: #868079;
	font: 18px "Brandon Grot W01 Bold";
	text-transform: uppercase;
	padding: 20px 35px;
	line-height: 18px;
}
.btn.btn-giant {
	font: 18px "Brandon Grot W01 Bold";
	text-transform: uppercase;
	color: #fff;
	background-color: #9c8e69;
	padding: 20px 35px;
	line-height: 18px;
}
.btn-margin-left {
	margin-left: 10px;
}
/* FORMS */
input.form-control,
textarea.form-control,
input.form-control:focus,
textarea.form-control:focus {
	padding: 9px;
	color: #000;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	height: auto;
	box-shadow: none;
	outline: none;
}
input.form-control,
textarea.form-control,
input.form-control::-webkit-input-placeholder,
textarea.form-control::-webkit-input-placeholder {
	font: 14px "Open Sans";
	color: #868079;
}
input.form-control-center,
textarea.form-control-center,
textarea.form-control-center::-webkit-input-placeholder {
	font: 14px "Open Sans";
	color: #868079;
	text-align: center;
}
input.form-control::-webkit-input-placeholder,
textarea.form-control::-webkit-input-placeholder {
	color: #868079;
}
input.form-control[type="search"] {
	padding-right: 32px;
}
input.form-control.white {
	box-shadow: none;
	border-color: transparent;
}

/* CONTROL LABEL */
.control-label p {
	color: #343432;
	font-size: 14px;
	font-weight: 400;
	padding-top: 7px;
}

/* inline list reset */
.list-inline {
	font-size: 0;
}
.list-inline li {
	font-size: 12px;
}

.list-group { margin-bottom: 0; }
.list-group.withMargin { margin-bottom: 20px; }

.list-group > li {
	list-style: none;
	padding: 0;
}
.list-group > .list-group-item {
	padding: 25px 30px;
}
.list-group .list-group-item:nth-child(odd),
.list-group .list-group-item.odd,
.list-group.hasOrder .list-group-item:nth-child(odd),
.list-group.hasOrder .list-group-item.odd {
	background-color: #f7f6f5;
}
.list-group .list-group-item:nth-child(even),
.list-group .list-group-item.even,
.list-group.hasOrder .list-group-item:nth-child(even),
.list-group.hasOrder .list-group-item.even {
	background-color: #fff;
}
.list-group p { margin: 0; font-size: 13px; }
.list-group h4 { margin-top: 0; }
/*one color list*/
.solo {
	background-color: #fff !important;
	padding: 15px 15px 10px 20px !important;
}

/* labels */
.label.label-right { margin-left: 8px; }
.label.label-left { margin-right: 8px; }
.label.label-default { 
	display: inline-block; 
	background-color: #868079;
	padding: 6px 16px;
	vertical-align: middle;
	font-family: "Brandon Grot W01 Bold";
	text-transform: uppercase;
}
.label.label-document {
	display: inline-block;
	background-color: #868079;
	margin-left: 16px;
	padding: 6px 16px;
	vertical-align: middle;
}
/* =======================================
POD GRID SYSTEM
======================================= */
.pod-container {
    display: block;
}
.pod-container:before,
.pod-container:after {
    content: "";
    display: "table";
}
.pod-container:after {
    clear: both;
}
.pod-container *[class^="pod-"] {
    position: relative;
    margin-top: 30px;
    float: left;
}
.pod-container .pod-1 { width: 100%; }
.pod-container .pod-2 { width: 50%; }
.pod-container .pod-3 { width: 33.333333333333333333%; }
.pod-container .pod-3-2 { width: 66.666666666666666667%; }
.pod-container .pod-4 { width: 25%; }
.pod-container .pod-5 { width: 20%; }

.pod-container-marginles > .row { margin: 0 0 0 0; }
.pod-container > .row { margin: 0 0 30px 0; }
.pod-container > .row:last-child { margin-bottom: 0px; }

.pod-container .row *[class^="pod-"]:not(".pod-container") { margin-top: 0; }

.pod-container *[class^="pod-"] .pod-content {
	display: block;
	position: relative;
	width: 100%;
}
.pod-container .pod-2:first-child .pod-content { padding-right: 10px; }
.pod-container .pod-2:last-child .pod-content { padding-left: 10px; }

/* =======================================
NAVIGATION
======================================= */
nav#main-nav .head {
	background-color: #1d1d1b;
	text-align: center;
	padding: 26px 0;
}
nav#main-nav ul.menu,
nav#main-nav ul.menu li {
	margin: 0;
	padding: 0;
	list-style: none;
}
nav#main-nav ul.menu a { 
	display: block;
	font: 18px "BrandonGrotW01-Regular";
	color: #fff; 
	padding: 14px 0 14px 32px;
}
nav#main-nav ul.menu a:hover,
nav#main-nav ul.menu a.active { 
	position: relative;
	text-decoration: none; 
	background-color: #2c2c2a;
}
nav#main-nav ul.menu a.active:after {
	content: "";
	position: absolute;
	display: block;
	right: -7px;
	top: 20px;
	width: 16px;
	height: 16px;
	background: url("../img/graphics/sprite.png") no-repeat -304px -48px;
	background-size: 640px 640px;
}
nav#main-nav ul.menu a > i { margin-right: 23px; }

nav#main-nav .user {
	background-color: rgba(29,29,27,0.33);
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.08);
	-webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.08);
	-moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.08);
	-ms-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.08);
	-o-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.08);
	padding: 20px;
	height:90px;
	-webkit-transition: all 162ms ease-in-out;
	-moz-transition: all 162ms ease-in-out;
	-ms-transition: all 162ms ease-in-out;
	-o-transition: all 162ms ease-in-out;
	transition: all 162ms ease-in-out;
	overflow: hidden;
}

nav#main-nav .user.active{
	height:180px;
}

nav#main-nav .user .avatar {
	width: 50px;
	height: 50px;
	margin-right: 20px;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.20);
	-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 3px 6px rgba(0,0,0,0.20);
	-ms-box-shadow: 0px 3px 6px rgba(0,0,0,0.20);
	-o-box-shadow: 0px 3px 6px rgba(0,0,0,0.20);
}
nav#main-nav .user p {
	margin: 0;
	font: 13px "Brandon Grot W01 Bold";
	text-transform: uppercase;
	color: #868079;
}
nav#main-nav .user h2 {
	margin: 0;
	font: 18px "BrandonGrotW01-Regular";
	color: #e2d07c;
}

/* =========================================
USER MENU IN SIDENAV
========================================= */
nav#main-nav .user i.icon-small-toggle {
	margin-top: 11px;
	margin-left: 16px;
}
nav#main-nav .user .user-menu,
nav#main-nav .user .user-menu li {
	padding: 0;
	margin: 0;
	list-style: none;
}
nav#main-nav .user .user-menu {
	-webkit-transition: all 235ms ease-in-out;
	-moz-transition: all 235ms ease-in-out;
	-ms-transition: all 235ms ease-in-out;
	-o-transition: all 235ms ease-in-out;
	transition: all 235ms ease-in-out;
	margin-top: 70px;
	opacity: 0;
}
nav#main-nav .user .user-menu li {
	color: #868079;
	margin-top: 20px;
}
nav#main-nav .user .user-menu li:first-child {
	margin-top: 0;
}

nav#main-nav .user .user-menu.open {
	opacity: 1;
}
/* =======================================
HEADER
======================================= */
header#main-header .pull-right .btn:last-child {
	margin-left: 5px;
}
header#main-header .pull-left input[type="search"] {
	width: 220px;
}

/* =======================================
MAIN CONTENT
======================================= */
section#main-content > header {
	background-color: #faf8f5;
	box-shadow: 0px 1px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 0px rgba(0,0,0,0.1);
	height: 120px;
}
section#main-content > header .btn-giant {
	margin-left: 15px;
}
/* CONTENT CONTROL UNIT */
.content-control-unit {
	margin: 30px 0;
}
.content-control-unit.spacer.top {
	padding: 0px 50px 0px 50px;
}
.content-control-unit.spacer.top.odd {
	padding: 0px 30px 0px 30px;
}
.content-control-unit.spacer.bottom {
	padding: 0px 50px 30px 50px;
}
.content-control-unit.spacer.top-dos {
	padding: 0px 40px 0px 40px;
}
.content-control-unit.spacer.bottom-dos {
	padding: 0px 20px 0px 20px;
}
header.spacer {
	padding: 30px 22px 30px 50px;
}
.content-control-unit .toggle-sort-direction {
	border-left: 1px solid #ccc;
	margin-left: 24px;
	padding-left: 24px;
}
.spacer-top {
	margin-top: 10px;
}
/* content control unit - pagination */
.content-control-unit .pagination {
	margin: 0;
}
.content-control-unit .pagination li {
	font-size: 0; /* make sure no alienated space is created for inline-block elements */
}
.content-control-unit .list-inline {
	margin: 0;
	padding: 0;
}
.content-control-unit .pagination > .list-inline li {
	padding: 0;
}
.content-control-unit .pagination .inline-list-group {
	border: 1px solid rgba(134,128,121,0.15);
	border-radius: 2px;
}
.content-control-unit .pagination .inline-list-group > li {
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5);
	-webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5);
	-moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5);
	-ms-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5);
	-o-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5);
	background-color: #f7f6f2;
	border-right: 1px solid #e0dcd4;
}
.content-control-unit .pagination .inline-list-group > li a {
	display: block;
	padding: 12px 16px;
}
.content-control-unit .pagination .inline-list-group > li:first-child {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.content-control-unit .pagination .inline-list-group > li:last-child {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-right: 0;
}
.content-control-unit .pagination .list-inline li {
	vertical-align: middle;
}
.content-control-unit .pagination .list-inline .page-no {
	background-color: #fff;
	padding: 10px 20px;
	border-radius: 2px;
	border: 1px solid rgba(143, 128, 121, 0.15);
	font-size: 14px;
	font-weight: 400;
	color: #000;
	margin: 0 5px 0 0;
}
.content-control-unit .pagination .list-inline .page-no:nth-child(2) {
	margin-left: 5px;
}
.content-control-unit .pagination .list-inline .current-page {
	font-weight: 600;
}

/* CARDS POD SYSTEM */
.cards.spacer {
	padding: 0px 50px 0px 50px;
}
.cards .pod-3 {
	padding-left: 14px;
	padding-right: 14px;
}
.cards .pod-3:last-child, .cards .pod-3:first-child   {
	padding-left: 14px;
	padding-right: 0;
}

.cards .card {
	height: 320px;
	border: 1px solid rgba(143, 128, 121, 0.15);
	border-radius: 2px;
}
.cards .card header,
.cards .card footer {
	text-align: center;
}
.cards .card header {
	position: relative;
	height: 200px;
	vertical-align: middle;
}
.cards .card header img {
	display: inline-block;
	vertical-align: middle;
}
.cards .card footer {
	border-top: 1px solid rgba(143, 128, 121, 0.15);
	height: 120px;
}
.cards .card footer h3 {
	font: 26px "Brandon Grot W01 Bold";
}
.cards .card footer p {
	font: 13px "Open Sans";
	color: #343432;
}

.info-lookup {
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.info-lookup h2 {
	font: 36px "Brandon Grot W01 Bold";
	color: #1d1d1b;
}
.info-lookup p {
	font: 24px "BrandonGrotW01-Regular";
	color: #7e7358;
	margin-bottom: 25px;
}
.info-lookup .logo {
	/*width: 100%;*/
}
.info-lookup .logo div {
	height: 200px;
	text-align: center;
	border: 1px solid rgba(143, 128, 121, 0.15);
	border-radius: 2px;
	vertical-align: middle;
}

/* HEADCOUNT */
.head-count {
	position: relative;
	display: inline-block;
	width: auto;
}
.head-count .overlay {
	position: absolute;
	width: 230px;
	height: 100%;
	right: 0;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.81) 54%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(54%,rgba(255,255,255,0.81)), color-stop(99%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.81) 54%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.81) 54%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.81) 54%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.81) 54%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
	vertical-align: middle;
}
.head-count .overlay .more {
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	vertical-align: middle;
	color: #7e7358;
	width: 80px;
	height: 80px;
	border-radius: 40px;
	background: transparent;
	border: 2px solid #dad9d5;
}
.head-count .overlay .more p {
	display: inline-block;
	margin-top: 17px;
	font-size: 30px;
	margin-left: -7px;
	width: auto;
}
.head-count .list-inline > li {
	padding: 0;
	margin: 0 0 0 12px;
}

/* Attention Nav - requires pod system */
.attention-nav .pod-content {
	padding-left: 12px;
	padding-right: 12px;
}
.attention-nav .row div[class^="pod-"]:first-child .pod-content { /* kom ik later nog op terug */ }
.attention-nav .row div[class^="pod-"]:last-child .pod-content { /* kom ik later nog op terug */ }
.attention-nav .pod-content a {
	padding: 55px 0;
	text-align: center;
	display: block;
	background-color: #fff;
	color: #1d1d1b;
	font: 26px "Brandon Grot W01 Bold";
	vertical-align: middle;
	border: 1px solid rgba(143, 128, 121, 0.15);
	border-radius: 2px;
}
.attention-nav .pod-content a:hover {
	border: 1px solid rgba(143, 128, 121, 0.4);
	text-decoration: none;
}

/* CONTACTS - MINOR CHANGES TO MAKE THE BUTTONS FIT */
.list-group.two-rules .list-group-item .pull-right {
	margin-top: 6px;
}
.list-group.two-rules  {
	margin-bottom: 20px;
}
/* =======================================
UTILS
======================================= */
.spacer {
	padding: 30px 50px 30px 50px;
}
.spacer-item {
	padding: 10px 0 10px 0;
}
.vertical-align {
	vertical-align: middle;
}
.vertical-center-helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.vertical-align-helper * {
	vertical-align: middle;
}
.center {
	margin-left: 43%;
	margin-top: 30px;
}
.low {
	margin-top: -50px !important;
}
/* =======================================
SECTIONS
======================================= */
section#main-content > section { border-bottom: 1px solid rgba(143, 128, 121, 0.4); }
section#main-content > section:last-child, section#main-content > section.no-border { border-bottom: 0; }
section.dark { background-color: #f7f6f5; }
section.white { background-color: #fff; }

/* =======================================
PLUGIN STYLES
======================================= */
/* CUSTOMSELECT */
select.hasCustomSelect {
	/* I need to make a few changes here to make it behave correctly. */
	height: 40px;
	z-index: 2;
}
.customSelect { 
	position: relative;
	/* This is the default class that is used */
	/* Put whatever custom styles you want here */
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5);
	-webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5);
	-moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5);
	-ms-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5);
	-o-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5);
	background-color: #f7f6f2;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid rgba(134,128,121,0.15);
	width: 160px;
}
.customSelect.customSelectHover {
/* Styles for when the select box is hovered */
}
.customSelect.customSelectOpen {
/* Styles for when the select box is open */
}
.customSelect.customSelectFocus {
/* Styles for when the select box is in focus */
}
.customSelectInner {
/* You can style the inner box too */
	color: #000;
	font-weight: 600;
	font-size: 14px;
	line-height: 14px;
	padding: 13px 15px;
	width: inherit;
}
.customSelectInner:after {
	content: "";
	position: absolute;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-left: -32px;
	right: 18px;
	background: url("../img/graphics/sprite.png") no-repeat -304px -32px;
	background-size: 640px 640px; /* Update this to the sheet's dimensions when you edit it! */
}
/* =======================================
FORM NEW EMPLOYER
======================================= */
/* content form new employer */
.content-form-new-employer {
	margin:  0;
	padding: 0;
}
form.new-employer {
	padding: 0;
	margin: 0 0 -40px 0;
	border: none;
	width: 100%;
}
form.new-employer .form-control {
	width: 320px;
	display: inline-block;
}
.form-group {
	margin-bottom: 0;
}
.from-block {
	border: 1px solid ;
	margin: 0 0 20px 0;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #fff;
	border: solid 1px rgba(134,128,121,.15);
}
form.new-employer .form-group {
	padding: 10px 10px;
}

form.new-employer .form-group  input {
	height: 40px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #fff;
	border: solid 1px rgba(134,128,121,.25);
}	
form.new-employer .form-group   label {
	margin: 0 40px;
	width: 120px;
	font-weight: 100;
	color: #343432;
}
label.second-inline {
	margin: 0 0px 0 40px !important;
	width: 90px !important;
}
form.new-employer .form-inline  input {
 width: 90px;
}

/* =======================================
FORM DRAG & DROP SECTION NEW EMPLOYER
======================================= */
.dropzone {
    disabled: false;
    width: 100%;
    height: auto;
    cursor: default;
	border: solid 1px rgba(134,128,121,.15);
    background: #fff;
}
.add-contact {
	/*height: 125px;*/
	padding: 30px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #f7f6f5;
	border: solid 1px rgba(134,128,121,.15);
	margin-bottom: 20px;
}
/* =======================================
DROPZONE
======================================= */
.drag-drop-left {
	margin-right: 20px;
}
.drag-drop {
	margin-top: -20px;
	margin-bottom: 30px;
	padding: 20px 40px 40px 40px;
	height: auto;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #f7f6f5;
	border: solid 1px rgba(134,128,121,.15);
}
.dropzone {
    width: 100%;
    height: auto;
    cursor: default;
	border: solid 1px rgba(134,128,121,.15);
    background: #fff;
    padding: 10px;
    position: relative;
}
.dropzone-border {
	border: dashed 2px rgba(134,128,121,.15);
	width: 100%;
	padding: 30px;
	position: relative;
}
i.dropzone-border {
  	margin: 0 0 10px 0;
}
.drop.spacer {
	padding: 0;
	text-align: center;
}
.dropzone p.title {
	margin-top: 10px;
}
/* =======================================
DASHBOARD
======================================= */
.finished-doc-count, 
.research-count 	 {
	display: inline-block;
	vertical-align: top;
	font: 80px "Brandon Grot W01 Bold";
	margin-top: -10px;
	margin-left: 20px;
}                                
.stat-info  {
	border-right: 1px solid #e5e5e5;
} 
.stat-info.spacer {
	padding: 0px 50px 0px 50px;
	text-align: center;
}
.stat-info.last-child  {
	border-right: 0px solid #e5e5e5;
}                        
.title-count, .text-holder {
	color: #9c8e69;
	font: 22px "BrandonGrotW01-Regular";
	text-align: center;
}
.text-holder a.btn-giant {
	margin-top: 30px;
}
.db-spacer {
	margin-left: -50px;
	padding-left: 6%;
}
/* =======================================
DASHBOARD - UPDATE LIST
======================================= */
p.update a {
	color: #9c8e69;
}
 p.update {
 	height: 40px;
	float: left;
	margin-top: 20px;
 }
/* =======================================
RESEARCHERS - LIST
======================================= */
.online-container  i.icon-round-online-indicator {
	position: relative;
	bottom: 0;
	margin-left: 20px;

	width: 10px;
	height: 10px;
	border-radius: 9px;
	background-color: #8dc111;
}      
.offline-container i.icon-round-online-indicator  {
	position: relative;
	bottom: 0;
	margin-left: 20px;

	width: 10px;
	height: 10px;
	border-radius: 9px;
	background-color: #fff;
	border: 2px solid #868079;
}               
/* =======================================
OVERLAY MODEL
======================================= */
.modal > div > div > div.modal-header {
	background-color: #faf8f5;
	height: 220px;
	padding: 20px 0 0 50px;

	-webkit-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
	border: solid 1px rgba(0,0,1,.1);
}
.modal-header {
  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -10px;
  margin-right: 20px;
}
.modal-title {
  margin: 0 0 20px 0;
  line-height: 1.42857143;
}
.modal-header h4 {
	color: #9c8e69;
	font: 22px "BrandonGrotW01-Regular";
	font-weight: bold;
}
.modal .modal-content {
	position: relative;
	background-color: #fff;
	width: 800px;
	height: auto;
	left: -100px;
	top: 100px;
}
.modal-body {
  position: relative;
  padding: 50px;
  height: auto;
  min-height: 220px;
}
.modal-footer {
  padding: 50px;
  margin-top: 15px;
  text-align: right;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.margin-left {
	margin-left: 140px;
}
/* =======================================
OVERLAY POPUP MODEL RESEAERCH-LIST
======================================= */
ul.research-list {
	list-style: none;
	padding: 0;
}
li.added-researcher {
	background-color: #faf8f5;
	border-radius: 0px;
	display: block;
	height: 40px;
	margin: 0;
	padding: 10px 15px;
	width: 320px;
	border: 1px solid #ccc;

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

li.added-researcher:first-child {
	border-radius: 2px 2px 0 0;
	border-bottom: 0;
}
li.added-researcher:last-child {
	border-radius:  0 0 2px 2px;
	border-top: 0;
}
li.added-researcher i {
	float: right;
	margin-right: -10px;
	margin-top: -6px;
	opacity: 0.7;
}


/* =======================================
BOOTSTRAP EXTENSION
======================================= */
.list-group-item.list-head {
	box-shadow: 0px 2px 8px rgba(0,0,0,0.08);
}
.dropdown-menu.tooltip-menu {
	background-color: #343432;
	width: 200px;
	margin-left: -70px;
	margin-top: 30px;
	padding: 20px 25px;
}
.dropdown-menu.tooltip-menu:before {
	content: "";
	position: absolute;
	display: block;
	width: 16px;
	height: 7px;
	background: url("../img/graphics/tooltip-menu-arrow@2x.png") no-repeat 0 0;
	background-size: 16px 7px;
	top: -6px;
	left: 50%;
	margin-left: -8px;
}
.dropdown-menu.tooltip-menu > li {
	margin-bottom: 7px !important;
}
.dropdown-menu.tooltip-menu a {
	color: #bfbbb6;
	font-size: 13px;
	padding: 0;
}
.dropdown-menu.tooltip-menu a:hover {
	background-color: transparent;
	color: #bfbbb6;
	margin-top: -200px;
}

/* =======================================
BOOTSTRAP EXTENSION SMALL VERSION
======================================= */
.dropdown-small-helper {
	width: 170px !important;
	margin-left: -90px !important;
	margin-top: 30px;
	padding: 20px 25px;
	border-radius: 2px;
}
.dropdown-menu.dropdown-small-helper.tooltip-menu:before {
	left: 70% !important;
}
/* =======================================
BOOTSTRAP EXTENSION TOOLTIP
======================================= */
.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  font-size: 12px;
  line-height: 1.4;
  visibility: visible;
  filter: alpha(opacity=0);
  opacity: 0;

}
.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}
.tooltip.top {
  padding: 5px 0;
  margin-top: -15px;
  margin-right: 10px;
}
.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}
.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 5px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #343432;
  border-radius: 2px;
  font-size: 13px;
  line-height: 38px;
  font-weight: 600;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -10px;
  border-width: 5px 5px 0;
  border-top-color: #343432;
}
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  left: 5px;
  border-width: 5px 5px 0;
  border-top-color: #343432;
}
.tooltip.top-right .tooltip-arrow {
  right: 10px;
  bottom: 0;
  border-width: 5px 5px 0;
  border-top-color: #343432;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  left: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  right: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

/*for icons*/ 
h4 i.icon-round-online-indicator .tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  font-size: 12px;
  line-height: 1.4;
  visibility: visible;
  filter: alpha(opacity=0);
  opacity: 0;
}
h4 i.icon-round-online-indicator .tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}
#main-content .online-container h4 i.icon-round-online-indicator .tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
/* =======================================
HELPERS
======================================= */
.list-group.no-order .list-group-item:nth-child(odd), .list-group.no-order .list-group-item.odd,
.list-group.no-order .list-group-item:nth-child(even), .list-group.no-order .list-group-item.even {
	background-color: #fff;
}

.list-group.hasOrder .list-group-item:nth-child(odd),
.list-group.hasOrder .list-group-item.odd {
	background-color: #f7f6f5;
}
.list-group.hasOrder .list-group-item:nth-child(even),
.list-group.hasOrder .list-group-item.even {
	background-color: #fff;
}

.tiny {
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 20px;
	margin-top: 5px;
}
 .tiny img, .avatar img {
	width: 100%;
	height: 100%;
}
.left {
	float: left;
}
.right {
	float: right;
}
.place-holder {
	padding: 0 0 20px 20px;
}
.top-space {
	padding: 10px 0 10px 20px;
}
.bottom-space {
	margin-bottom: 20px;
}
.top-space-researchers {
		padding: 22px 0 0 20px;
}
.P {
	text-align: center;
}

/* =======================================
DROP AREA
======================================= */
.dz-wrapper {
	position: relative;
}
.dz-wrapper .dropzone-controls {
	display: none;
	position: absolute;
	top: 39px;
	right: 20px;
}
.dz-wrapper.active .dropzone-controls {
	display: block;
}
.dropzone.drop-area {
	background-color: transparent;
	border: 0;
	padding: 0;
}
.drop-area {
	font-size: 14px;
	margin-bottom: 30px;
}
.drop-area > div {
	background-color: #fff;
	border: 1px solid #e1dfdd;
	height: 107px;
}
.drop-area .dz-preview {
	display: none;
}
.drop-area > div > span {
	display: block;
	margin: 10px;
	padding: 30px 0;
	border: 2px dashed #e1dfdd;
	text-align: center;
	height: 85px;
}
.drop-area > div > span i {
	float: right;
	margin-top: -22px;
}
.drop-area > div > span i:first-child {
	margin-right: 10px;
}
.drop-area.hasFile > div > span {
	font-weight: 600;
	text-align: left;
	padding-left: 30px;
}

/* =======================================
COMPLETION
======================================= */
.completion {
	position: relative;
	width: 48px;
	height: 48px;
	border-radius: 25px;
	text-align: center;
	vertical-align: middle;
	margin-left: 31px;
}
.completion i {
	margin-left: -3px;
	margin-top: 1px;
}
.completion:before {
	content: "";
	display: block;
	position: absolute;
	width: 4px;
	height: 64px;
	top: -64px;
	left: 19px;
	background-color: #9c8e69;
}
.completion.completed {
	background-color: #9c8e69;
	border: 4px solid #9c8e69;
}
.completion.inprogress {
	background-color: #f7f6f2;
	border: 4px solid #dad9d5;
}
.completion.inprogress:before {
	background-color: #dad9d5;
}
/* =======================================
LIST EXPANSION: EXPANDABLE
======================================= */
.list-group .list-group-item .item-row .meter-wrap {
	margin-right: 130px;
}
.list-group.expandable .list-group-item.isAncestor:first-child .item-row {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top: 1px solid #DDD;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.list-group.expandable .list-group-item.isAncestor:last-child .item-row {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.list-group.expandable .list-group-item {
	padding: 0;
	border: 0;
}
.list-group.expandable .list-group-item.isAncestor {
	border-bottom: 1px solid #DDD;
}
.list-group.expandable .list-group-item ul:not(.tooltip-menu), 
.list-group.expandable .list-group-item ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list-group.expandable .list-group-item .item-row {
	padding: 20px 25px;
/*	border: 1px solid #DDD;
*/}
.list-group.expandable .list-group-item.isAncestor .item-row {
	background-color: #fff;
}
.list-group.expandable .list-group-item.isDropdown {
	padding: 0 10px;
}
.list-group.expandable .list-group-item.isDropdown .item-row {
	background-color: #faf8f5;
	padding: 0;
}
.list-group.expandable .list-group-item.isDropdown .meter-wrap h4 {
	font: 22px "BrandonGrotW01-Regular";
	color: #9c8e69;
}
.list-group.expandable .list-group-item.isDropdown > ul {
	margin-top: -1px;
}

.list-group.expandable .list-group-item.isDropdown {
	display: none;
}
.list-group.expandable .list-group-item.isDropdown.open {
	display: block;
}

/* =======================================
PROGRESS OVERVIEW
======================================= */
.progress-overview  {
	width: 100%;
}
.progress-overview .done {
	width: 117px;
}
.progress-overview .progress-detail {
	border-bottom: 1px solid rgba(0,0,0,0.18);
}
.progress-overview tbody > tr:last-child .progress-detail {
	border: 0;
}
.progress-overview td {
	padding: 26px 0;
}
.progress-overview h4 {
	color: #343432;
	font-size: 22px;
	margin: 0;
}
.progress-overview p {
	font-size: 13px;
	color: #787775;
	margin: 0;
}
.progress-overview .ui-label {
	display: inline-block;
	margin-top: 9px;
	padding-right: 10px;
}
.progress-overview tbody tr:first-child  .completion:before {
	height: 59px;
	top: -59px;
}

/* =======================================
CUSTOMMETER PLUGIN
======================================= */
.meter-wrap {
	width: 200px;
}
.meter-wrap h4 {
	font: 26px "Brandon Grot W01 Bold";
	color: #6e6e6d;
	margin-bottom: 5px;
}
.charge-meter-outer {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 8px;
    background-color: #d7d5d3;
    border-radius: 4px;
    margin-right: 15px;
    overflow: hidden;
}
.charge-meter-inner {
    position: absolute;
    height: 100%;
    background-color: #9c8e69;
}
/* =======================================
 CALL PAGE 
======================================= */
.call {
	margin-right: 40px;
	margin-left: 40px;
	padding: 0 20px 0 0;
}

.call.margin-left {
	margin-left: 10px;
	border-right: 1px solid #e5e5e5;
	padding-right: 50px;

}
.text-holder-call-counter,
.text-holder-call-counter span  {
	color: #333;
	font: 18px "BrandonGrotW01-Regular";
	text-align: left;
	width: 50px;
	margin-right: 60px;
}
.text-holder-call-counter span  {
	font: 38px "Brandon Grot W01 Bold";
}
h4.uppercase {
	text-transform: uppercase;
	font-size: 16px;
	text-transform: uppercase;
	font-size: 16px;
	margin: 40px 0 20px 0;
}
.top-fix {
	margin-top: 0 !important;
}

/* =======================================
 CALL PAGE  TABS
======================================= */
.tab-content {
	background: #fff;
}
ul.nav-tabs {
		margin-top: 10px;
}
ul.nav-tabs li a
.nav-tabs > li > a,
.nav-tabs > li > a:hover, 
.nav-tabs > li > a:focus  {
	border-left: 1px solid rgba(143, 128, 121, 0.4);
	border-right: 1px solid rgba(143, 128, 121, 0.4);
	border-top: 1px solid rgba(143, 128, 121, 0.4);
	width: 190px;
}
ul.nav-tabs li a {
	padding: 20px 50px;
	font: 22px "BrandonGrotW01-Regular";
	color: #555;
	cursor: default;
	width: 190px;
	border: 1px solid rgba(143, 128, 121, 0.4);
	border-bottom-color: transparent;
}
.tab-pane, .tab-pane .active {
	border-left: 1px solid rgba(143, 128, 121, 0.4);
	border-right: 1px solid rgba(143, 128, 121, 0.4);
	border-bottom: 1px solid rgba(143, 128, 121, 0.4);
	padding: 50px;

	width: 50%;
	display: block;
	float: left;
	background: #FFF;
}

.nav-tabs > li {
	float: left;
	margin-bottom: -1px;
	margin-right: 20px;
	width: 190px;
	font-weight: 100;
	padding-left: 17%;
	padding-right: 30%;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
	color: #555;
	cursor: default;
	width: 190px;
	background-color: #fff;
	border: 1px solid rgba(143, 128, 121, 0.4);
	border-bottom-color: transparent;
}
.spacer-right {
	text-align: left;
	width: 40%;
	font-size: 18px;
}
.spacer-right h4 {
	font-size: 18px  !important; 
}
.box {
	width: 51%;
	padding-left: 0px;
	font-size: 18px;
	margin-right: 24px;
	margin-left: -10px;
}
.box h4 {
font: 18px "Brandon Grot W01 Light";
}
#notities h4 span {
	color: #9c8e69;
}

.italic {
	font-style: italic;
}
.nav-tabs > li.notities a {
	margin-left: 40%;
}
.nav-tabs > li a:hover {
	border-bottom: 0;
}
.lower {
	padding: 15px 30px 10px 30px !important;
}
/* =======================================
Call list tabs `switch
======================================= */
@media screen and (max-width: 1200px) {
  .tab-content {
	background: #fff;
}
ul.nav-tabs {
		margin-top: 10px;
}
ul.nav-tabs li a
.nav-tabs > li > a,
.nav-tabs > li > a:hover, 
.nav-tabs > li > a:focus  {
	border-left: 1px solid rgba(143, 128, 121, 0.4);
	border-right: 1px solid rgba(143, 128, 121, 0.4);
	border-top: 1px solid rgba(143, 128, 121, 0.4);
	width: 190px;
}
ul.nav-tabs li a {
	padding: 20px 50px;
	font: 22px "BrandonGrotW01-Regular";
	color: #555;
	cursor: default;
	width: 190px;
	border: 1px solid rgba(143, 128, 121, 0.4);
	border-bottom-color: transparent;
}
.tab-pane {
	border-left: 1px solid rgba(143, 128, 121, 0.4);
	border-right: 1px solid rgba(143, 128, 121, 0.4);
	border-bottom: 1px solid rgba(143, 128, 121, 0.4);
	padding: 50px;

	width: 100%;
	display: block;
	float: left;
	background: #FFF;
}
.nav-tabs > li {
	float: left;
	margin-bottom: -1px;
	margin-right: 20px;
	width: 190px;
	font-weight: 100;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
	color: #555;
	cursor: default;
	width: 190px;
	background-color: #fff;
	border: 1px solid rgba(143, 128, 121, 0.4);
	border-bottom-color: transparent;
}
.spacer-right {
	text-align: left;
	width: 190px;
	margin-left: 0px;
	font-size: 18px;
}
.box {
	width: 50%;
	padding-left: 20px;
}
.box h4 {
font: 22px "Brandon Grot W01 Light";
}

.italic {
	font-style: italic;
}
}
/* =======================================
STEPLIST
======================================= */
.list-group.step-list {}

/* completion classes */
.list-group.step-list .completion {
	position: relative;
	margin-left: 14px;
	margin-top: 6px;
}
.list-group.step-list .completion:before {
	height: 32px;
	top: -36px;
}
.list-group.step-list .completion:after {
	content: "";
	display: block;
	position: absolute;
	width: 4px;
	height: 39px;
	top: 44px;
	left: 19px;
}

.list-group.step-list .list-group-item[data-progress="incomplete"] .completion {
	background-color: #f7f6f2;
	border: 4px solid #dad9d5;
}

.list-group.step-list .list-group-item[data-progress="complete"] .completion:after,
.list-group.step-list .list-group-item[data-progress="complete"] .completion:before,
.list-group.step-list .list-group-item.isDropdown[data-progress="complete"] > ul > li:before {
	background-color: #9c8e69;
}

.list-group.step-list .list-group-item[data-progress="incomplete"] .completion:after,
.list-group.step-list .list-group-item[data-progress="incomplete"] .completion:before,
.list-group.step-list .list-group-item.isDropdown[data-progress="incomplete"] > ul > li:before {
	background-color: #e0e0e0;
}
.list-group.step-list .list-group-item.isAncestor { z-index: 2; }
.list-group.step-list .list-group-item.isAncestor h4 { margin-left: 10px; margin-top: 5px; }
.list-group.step-list .list-group-item.isDropdown { 
	position: relative;
	margin-top: -1px;
	display: none; 
	border: 0;
	padding: 0;
}
.list-group.step-list .list-group-item.isDropdown > ul {
	list-style: none;
	padding: 0px 10px;
	border-top: 1px solid rgba(0,0,0,0.1);
}
.list-group.step-list .list-group-item.isDropdown > ul > li {
	position: relative;
	border: 1px solid rgba(0,0,0,0.1);
	background-color: #faf8f5;
	padding: 50px 55px 50px 125px;
}
.list-group.step-list .list-group-item.isDropdown > ul > li:before {
	content: "";
	display: block;
	position: absolute;
	width: 4px;
	height: 100%;
	top: 0;
	left: 57px;
}
.list-group.step-list .list-group-item.isDropdown.open { display: block; }

.list-group.step-list .list-group-item .refer {
	padding: 10px;
	border: 1px solid rgba(0,0,0,0.1);
	background-color: rgba(255,255,255,0.5);
	border-radius: 2px;
	margin-bottom: 20px;
}
.list-group.step-list .list-group-item .refer h3 {
	font: 22px "Brandon Grot W01 Bold";
	margin-top: 10px;
	margin-bottom: 30px;
	height: 32px;
}
.list-group.step-list .list-group-item .refer legend {
	font: 18px "BrandonGrotW01-Regular";
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.list-group.step-list .list-group-item .refer.closed .fields {
	display: none;
}
.list-group.step-list .list-group-item .refer.closed h3 {
	margin-bottom: 10px;
}

.referent .head {
	
}
.referent .body {
	display: none;
}
.referent .body .ui-label {
	margin-bottom: 20px;
	margin-top: 30px;
}
.referent .body.open {
	display: block;
}

/* =====================================
BOOTSTRAP HORIZONTAL FORM
===================================== */
.form-horizontal fieldset {
	margin-bottom: 20px;
}
.form-horizontal fieldset:last-child {
	margin-bottom: 0;
}
.form-horizontal .form-group {
	background-color: transparent;
	margin-bottom: 10px;
}
.form-horizontal > .form-group:last-child {
	margin-bottom: 0;
}
.form-horizontal .form-group .control-label {
	text-align: left;
}

/* =========== AUTOCOMPLETE =========== */

.autocomplete-holder {
    position: relative;
}
.autocomplete-holder.open {

}
.autocomplete-holder .autocomplete-trigger {

}
.autocomplete-holder .autocomplete-trigger input {
    display: block;
    width: 100%;
}
.autocomplete-holder .autocomplete-trigger input:focus {
    
}
.autocomplete-holder .autocomplete-dropdown {
	position: absolute;
	width: 100%;
	margin-top: 5px;
    display: none;
}
.autocomplete-holder.open .autocomplete-dropdown {
    display: block;
}
.autocomplete-holder .autocomplete-dropdown ul,
.autocomplete-holder .autocomplete-dropdown ul li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.autocomplete-holder .autocomplete-dropdown .options {
    /*background-color: #fff;*/
}
.autocomplete-holder .autocomplete-dropdown .options .option {
	border: 1px solid rgba(0,0,0,0.08);
	border-bottom: 0;
	background-color: #f7f6f5;
	padding: 15px;
}
.autocomplete-holder .autocomplete-dropdown .options .option:first-child {
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
}
.autocomplete-holder .autocomplete-dropdown .options .option:last-child {
 	border-bottom: 1px solid rgba(0,0,0,0.08);   
 	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}
.autocomplete-holder .autocomplete-dropdown .options .option:hover {
    
}
/* =======================================
Career investigation panel Refference info
======================================= */
/*GENERAL*/
.screw-default-radio {
	width: 16px;
	float: left;
	vertical-align: middle;
	margin-top:3px;
}
#full-screen img.logo-wit{
	margin:0px auto;
	margin-left:48%;
	padding-top:70px;
	margin-bottom: 50px;
}
.panel.panel-investigation {
	position: absolute;
	width: 800px;
	height: auto;
	left: 50%;
	top: 170px;
	margin-left: -375px;
}
.panel.panel-investigation.top{
	margin-top:0px;
} 

.panel.panel-investigation .panel-heading {
	padding: 35px 35px 35px 50px;
	padding-top: 50px;
	background-color: #faf8f5;:;
}
.panel.panel-investigation .panel-body {
	padding: 44px 50px;
}
.panel.panel-investigation .panel-body label {
	display: block;
	font-size: 14px;
	margin-bottom: 16px;
}


.panel.panel-investigation .panel-body label a {
	color: #9c8e69;
}
.panel.panel-investigation .panel-body .form-group {
	background-color: transparent;
	margin-bottom: 30px;
}
.panel.panel-investigation .logo {
	position: absolute;
	left: -260px;
	width: 210px;
	height: 262px;
	background: url("../img/graphics/logo.png") no-repeat 0 0;
}
.panel.panel-investigation h2{
	font-family:"Brandon Grot W01 Bold";
	font-size:32px;
}
.panel.panel-investigation h3{
	font-family:"BrandonGrotW01-Regular";
	padding-bottom: 0px;
	margin-bottom:0px; 
}
.panel.panel-investigation h3:before{
	content:"";
	color: #9c8e69;
	padding:0px 30px 0px 0px;
	font-family:"BrandonGrotW01-Regular";
}
.panel.panel-investigation h3:nth-child(1):before{
	content:"1.";
	font-weight: bold;
}
.panel.panel-investigation h3:nth-child(3):before{
	content:"2.";
	font-weight: bold;
}
.panel.panel-investigation h3:nth-child(5):before{
	content:"3.";
	font-weight: bold;
}
.panel.panel-investigation p {
	padding: 30px 0px 0px 0px;
	font-family:"BrandonGrotW01-Regular";
	color: #313131;
	font-size: 20px;
	line-height: 33px;
	margin: 0;
	font-weight: 800;
}
.panel-body h2.special {
	margin-top: 30px;
}

.panel .option ul li label {
	padding-left: 22px;
}
.panel.panel-investigation .option ul li {
	list-style: none;
}
.panel.panel-investigation .option h3 {
	padding-top:0px;
	margin-top:0px;
}

.panel.panel-investigation .verzenden{
	text-align: center;
	width: 100%;
	margin-top:47px;
}

.panel.panel-investigation .btn.btn-giant {
	text-transform: uppercase;
	color: #fff;
	background-color: #9c8e69;
	padding: 20px 35px;
	line-height: 18px;
	margin: 0px auto;
}



.right { 
	float:right; 
	margin-right:-15px;
}
.panel.panel-investigation textarea {
	border:1px solid #e1dfdd;
	border-radius: 4px;
	resize:none;
	border-spacing: 1px;
	width: 600px;
	height: auto;
	font-weight:100!important;
	color:#313131;
	margin-bottom:30px!important;
	min-height: 120px;

	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
}
.panel.panel-investigation textarea:nth-last-child(1){
		margin-bottom:0px;
		margin-top:25px;
	}
.panel.panel-investigation textarea:focus {
	outline:0;
	border: 1px solid #b9b9b9;
	-webkit-box-shadow: 1px 1px 10px 0 rgba(0,0,0,.07);
	box-shadow: 1px 1px 10px 0 rgba(0,0,0,.07);
	padding: 9px;
	color: #000;
	border-radius: 2px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;

}
.panel.panel-investigation textarea::-webkit-input-placeholder { /* WebKit browsers */
    color:#999;
    font-style: italic;
}
.panel.panel-investigation textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 	font-weight: 100;
 	font-style: italic;
}
.panel.panel-investigation textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-weight: 100;    
    font-style: italic;
}
.panel.panel-investigation textarea:-ms-textarea-placeholder { /* Internet Explorer 10+ */
    font-weight: 100;
    font-style: italic;
}
.complete {
	float:right;
	position: relative;
	margin-top:40px;
	margin-right:90px;
	text-align: center;
	z-index: 1;
	background-color: red;
}
.complete .inner-circle {
	background-color:white;
	width:150px;
	height:150px;
	border:1px solid rgba(0,0,0, .1);
	border-radius: 100%;
	top:10px;
	left:10px;
	position: absolute;
	z-index: 2;
	padding-left:10px;
}
.complete .middle-circle {
	width: 170px;
	height:170px;
	border-radius: 100%;
	background-color: #f3efe7;
	position: absolute;
}
.complete .outer-circle {
	background-color:#9c8e69;
	height:190px;
	width:190px;
	border-radius: 100%;
	position: absolute;
	top:-10px;
	left:-10px;
	z-index: 0;
}
.complete .mask {
	background-color: white;
	width:120px;
	height:200px;
	position: absolute;
	top:-10px;
	left:-29px;
	border-radius: 20px 0px 0px 100px;
}
.panel.panel-investigation .complete h2 {
	padding:0px;
	margin:0px;
	margin:45px 0px 0px 0px;
}

.panel.panel-investigation .complete p {
	margin:0px;
	padding:0px;
	font-size: 13px;
	text-transform: uppercase;
}
ul.radio-questionair {
	margin-top: 22px;
}
/*TABLE CSS*/
table {
	margin: 0px auto;
	width: 700px;
	border: none;
	background-color: #fff;
}
table tr td.padding{
	padding:50px 100px 50px 100px;
	border-top:none;
}
table tr td.small-padding{
	padding:0px 100px 0px 100px;
	border-top:none;
}
table tr td.header-img {
	height: 120px;
}
table tr td.header-img img{
	margin-left:288px;
}
table tr{
	border-bottom:none;
	border-left:  1px solid #e1dfdd;
	border-right:  1px solid #e1dfdd;
}
table tr td.center{
	padding:50px 60px 50px 100px;
	border-bottom: 1px solid #e1dfdd;
}
table tr td{
	/*width:200px!important;*/
}
table tr td input.form-control-center{
	width:326px!important;
	float:right;
	height: 60px;

}
table tr td  input.form-control, 
table tr td textarea.form-control, 
table tr td input.form-control:focus, 
table tr td textarea.form-control:focus {
	height: 60px;
	background-color: rgb(250, 248, 245);
}
#acti-code{
	height:58px;
	border:none;
	background-color: #faf8f5;
	border:1px solid #e6e4e5;
	text-align: center;
	width: 324px;
	margin-left:4px;
	border-radius: 3px;
}
/* =======================================
SUB FORM
======================================= */
.sub-form {
	border: 1px solid rgba(0,0,0,0.2);
	background-color: rgba(255,255,255,0.5);
	margin-top: 20px;
	padding: 20px;
	border-radius: 2px;
}
.sub-form .form-group {
	background-color: transparent;
	margin-bottom: 10px;
	vertical-align: middle;
}
.sub-form .form-group:last-child {
	margin-bottom: 0;
}
.sub-form .form-group .control-label {
	vertical-align: middle;
	padding-top: 7px;
}

